body{
  background-color: var(--cor-5);
}



/* NavBar */

.nav{
  display: flex;
  color: var(--cor-6);
  font-size: 20px;
  font-family: "Poppins" , sans-serif;
  justify-content: space-around;
  align-items: center;
  
}

.link{
  color: var(--cor-6);
  font-size: 20px;
  font-family: "Poppins" , sans-serif;
  text-decoration: none;
}

.link:hover{
  color: var(--cor-1);
  transform: scale(1.1);
  transition: 1s;
}

.img{
  width: 100px;
  margin: auto;
  display: flex;
  justify-content: flex-start;
}

.labelNav:hover{
  color: var(--cor-1);
  transform: scale(1.1);
  transition: 1s;
}

.botao{
  background-color: var(--cor-4);
  color: var(--cor-5);
  width: 150px;
  height: 40px;
  border-radius: 20px;
  border: none;
  font-size: 18px;
  padding: 1%;
}

.botao:hover{
  background-color: var(--cor-1);
  transition: 1s;
}

.botaoLink{
  background-color: var(--cor-4);
  color: var(--cor-5);
  border-radius: 20px;
  font-size: 18px;
  /* padding: 35%; */
  padding-top: 30%;
  padding-bottom: 30%;
  padding-left: 100%;
  padding-right: 100%;
  text-decoration: none;
}

.botaoLink:hover{
  background-color: rgba(255, 0, 0, 0);
  color: var(--cor-1);
  border: 1px solid var(--cor-1);
  transition: 1s;
}

.logo:hover{
  transform: scale(1.1);
  transition: 1s;
}



/* Corpo */

.logoMaior{
  width: 700px;
}

.divLogo{
  display: flex;
  margin: auto;
  width: fit-content;
  margin-left: 50px;
}

h1{
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;  
  color: var(--cor-3);
  font-size: 45px;
}

.divMaior{
  margin-top: 90px;
  margin-left: 160px;
  width: fit-content;
}

.divMaior:hover{
  transform: scale(1.1);
  transition: 1s;
}

.texto{
  color: var(--cor-6);
  font-size: 25px;
  font-family: 'Poppins' , sans-serif;
}

.botaoo{
  background-color: var(--cor-4);
  color: var(--cor-5);
  width: 200px;
  height: 50px;
  border-radius: 20px;
  border: none;
  font-size: 22px;
  padding: 1%;
  margin-top: 30px;
}

.botaoo:hover{
  background-color: var(--cor-1);
  transition: 1s;
}

.textoInformativo{
  margin-left: 150px;
  padding: 6%;
}


/* Descontos */

.umaCamiseta{
  width: 200px;
  border-radius: 20px;
}

.duasCamisetas{
  width: 200px;
  border-radius: 20px;
}

.imagens{
  display: flex;
  margin-top: 70px;
  justify-content: space-evenly;
}

.img1:hover{
  -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.3));
  filter: drop-shadow(15px 10px 5px rgba(0,0,0,.3));
  transition: 1s;
}

.img2:hover{
  -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.3));
  filter: drop-shadow(15px 10px 5px rgba(0,0,0,.3));
  transition: 1s;
}

.titulo{
  font-family: "Bebas Neue", sans-serif;
  font-weight: 300;
  font-style: normal;  
  color: var(--cor-3);
  font-size: 30px;
  text-align: center;
  padding: 2%;
}

.textinho{
  color: var(--cor-4);
  font-size: 20px;
  font-family: 'Poppins' , sans-serif;
  text-align: center;
}

/* Footer */

.fotoFooter{
  width: 300px;
}

.footer{
  position: relative;
  margin-top: 200px;
  display: block;
  border-top: 2px solid var(--cor-6);
  padding-top: 3%;
}

.nomes{
  display: flex;
  margin-left: 785px;
  margin-top: -20px;
}

.textinhoo{
  color: var(--cor-4);
  font-size: 20px;
  font-family: 'Poppins' , sans-serif;
  text-align: center;
  align-items: center;
  margin-left: 10px;

}

.textinhoo:hover{
  text-decoration: underline;
  transition: 1s;
}

.textinhos{
  color: var(--cor-4);
  font-size: 20px;
  font-family: 'Poppins' , sans-serif;
  text-align: center;
  align-items: center;
  margin-left: 10px;
}

.nomess{
  display: flex;
  margin-left: 850px;
  margin-top: -20px;
}


/* Login */

.login{
  border: 1px solid var(--cor-1);
  margin: auto;
  width: 900px;
  padding: 2%;
  margin-top: 300px;
  display: flex;
}

.menorLogin{
  display: flex;
  flex-direction: column;
  font-family: 'Poppins' , sans-serif;
  font-size: 20px;
  color: var(--cor-1);
}

.menorLogin input{
  background-color: rgba(255, 0, 0, 0);
  width: 350px;
  border: none;
  border-bottom: 1px solid var(--cor-1);
}

.menorLogin input:focus{
  outline: none;
}

.botaooLogin{
  margin: auto;
  width: fit-content;
  margin-left: 100px;
}

.botaoLogin{
  background-color: var(--cor-4);
  color: var(--cor-5);
  width: 140px;
  height: 40px;
  border-radius: 20px;
  border: none;
  font-size: 20px;
  padding: 1%;
  margin-top: 30px;
}

.botaoLogin:hover{
  background-color: var(--cor-5);
  border: 1px solid var(--cor-1);
  color: var(--cor-1);
  transition: 1s;
  transform: scale(1.1);
  
}

.divImg{
  width: fit-content;
  margin-right: 50px;
}

.menorLogin{
  margin-top: 50px;
  margin-left: 50px;
}